<!DOCTYPE html>
<html>
<head>
    <title>Maps</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
    <div id="app">
        <div id="map"></div>

        <div class="controls">
            <label><input type="radio" name="range" value="1" v-model="radioValue" @change="actualizarTiendasLicor"> 1 km</label>
            <label><input type="radio" name="range" value="5" v-model="radioValue" @change="actualizarTiendasLicor"> 5 km</label>
            <label><input type="radio" name="range" value="10" v-model="radioValue" @change="actualizarTiendasLicor"> 10 km</label>
            <label><input type="radio" name="range" value="20" v-model="radioValue" @change="actualizarTiendasLicor"> 20 km</label>
        </div>

        <div class="liquor-store-list">
            <h3>Tiendas de Licor cercanas ({{ liquorStores.length }}):</h3>
            <ul>
                <li v-for="store in liquorStores" :key="store.id">
                    {{ store.name }} ({{ store.distance.toFixed(2) }} km)
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>
